 /* navbar only */

 .container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}
nav {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  /* text-align: left; */
}
nav li {
  display: inline-block;
}
nav a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0.75em 0.75em;
}
nav li:hover {
  background-color: white;
}
nav a:hover {
  background-color: black;
  color: white;
}
.menu_sub {
  position: absolute;
  left: 50px;
  width: 90%;
  background-color: lightgrey;
  display: none;
  padding: 2em;
  border: 0.5px solid grey;
}
.menu_sub li {
  display: block;
}
nav li:hover .menu_sub {
  display: block;
}
nav li:hover #brands-s {
  display: block;
}
.menu_sub a {
  padding: 0.2em;
  margin-bottom: 0.2em;
}
.menu_sub a:hover {
  background-color: white;
  color: black;
}
.menu_cat {
  margin: 0.5em 0 0.5em 0;
}
.menu_cat:first-of-type {
  margin-top: 0;
}
.menu_col {
  /* width: 50%; */
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}
h4 {
  padding-top: 10px;
  border-top: 0.8px solid grey;
}

/* navbar ends */

#yourcart {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 600;
    margin: 30px;
    margin-left: 11%;
    
  }
  .cartContainer {
    /* max-width: 100%; */
  
    /* padding: 1em; */
    /* box-sizing: border-box; */
    /* border: 3px solid rgba(153, 153, 153, 0.87); */
    width: 100%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    border-radius: 10px;
    
  }
  
  table {
    width: 80%;
    margin: 0 80px 0 80px;
    /* border: 2px solid rgb(77, 72, 72); */
    border-collapse: collapse;
  }
  th {
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid grey;
    border-top: 1px solid black; 
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-collapse: collapse;
    min-width: 40px;
    
  }
  th:nth-child(1){
    border-left: none;
  }
  th:nth-child(5){
    border-right: none;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
  }
  
  td {
    text-align: center;
    padding: 10px 5px;
    border-bottom: 0.6px solid grey;
    border-top: 0.6px solid grey;
    /* border-left: 1px solid black; */
    /* border-right: 1px solid black; */
  }
  
  td input {
    width: 30px;
    height: 20px;
    padding: 5px;
  }
  img {
    width: 100px;
    height: 80px;
    /* height: 80px; */
    margin-right: 10px;
  }
  /* .products{ */
    /* border: 0.6px solid grey; */
  /* } */
  .products p {
  
    flex: 1;
  }
  
  
  
  
  
  
  
  .CartSubtotal {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-right: 87px;
    font-weight: bold;
    font-size: 24px;
  }
  
  .CartSubtotal table {
    max-width: 300px;
    width: 80%;
    margin: 0 80px 0 80px;
  
    border-bottom: 3px solid grey;
    border-top: none
  }
  
  
  
  /* Last Buttons */
  #buttons{
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: 20px;
      /* background-color: aquamarine; */
  }
  #buttons button{
      height: 30px;
      width: 300px;
      padding: 30px;
      padding-top: 10px;
      transition: 0.3s;
      border: none;
      font-weight: 100;
      /* border-radius: 10px; */
      cursor: pointer;
  }
  #buttons button:first-child{
      color: black;
      background-color: rgb(197, 199, 201);
  }
  #buttons button:nth-child(2){
      color: rgb(255, 255, 255);
      background-color: rgb(10, 10, 10);
  }
  #buttons button:first-child:hover{
      color: black;
      background-color: rgb(139, 140, 141);
  }
  #buttons button:nth-child(2):hover{
      color: rgb(2, 2, 2);
      background-color: rgb(72, 253, 253);
  }
  
  /* @media only screen and (max-width: 600px) {
      body {
        background-color: lightblue;
      }
  
    } */

    #parent {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1.8px solid black;
        padding-top: 12px;
        padding-bottom: 12px;
      }
      #logo {
        width: 220px;
        height: 84px;
      }
      #search_bar > input {
        width: 380px;
        height: 40px;
        padding: 0px 10px;
        border: 1px solid grey;
        border-right: 0px;
        font-size: 14px;
        color: rgb(46, 51, 55);
        font-family: "Lato", sans-serif;
      }
      #search_bar {
        display: flex;
        align-items: center;
        gap: 0px;
      }
      #search_bar > button {
        height: 42px;
        width: 45px;
        border: 1px solid grey;
        /* margin-left: -10px; */
        border-color: lightgrey;
      }
      #search_bar > button:hover {
        border: none;
      }
  
      #acc_Cart > button {
        padding: 10px;
        font-size: 17px;
        width: 125px;
        border: none;
        color: black;
        background-color: #ffffff;
        font-family: "Lato", sans-serif;
        font-weight: 600;
        /* margin-right: 20px; */
      }
      #acc_Cart > button:hover {
        background-color: rgb(229, 229, 229);
      }
      #menu {
        display: flex;
        margin: 0 150px 10px 100px;
      }
      #menu > p {
        padding: 10px;
        font-family: "Lato", sans-serif;
      }
      #menu > p:hover {
        padding: 10px;
        /* cursor: pointer; */
        background-color: black;
        color: white;
      }

      #footer {
        display: flex;
        gap: 50px;
        padding: 0 100px;
        border-bottom: 1px solid black;
      }
      #footer_1 > div:first-child,
      #footer_2 > div:first-child {
        height: 100px;
      }
      #footer_links {
        display: flex;
        gap: 50px;
      }
      p {
        height: 25px;
        /* width: 250px; */
        padding: 5px;
        /* margin: 5px; */
      }
      p:hover {
        background-color: lightgray;
      }
      button {
        width: 78px;
        height: 42px;
        border: none;
        background-color: black;
        color: white;
        font-size: 15px;
      }
      button:hover {
        background-color: mediumturquoise;
        color: black;
      }


      #footer {
        display: flex;
        gap: 50px;
        padding: 0 100px;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
      }

      #footer_1 > div:first-child,
      #footer_2 > div:first-child {
        height: 100px;
      }
      #footer_links {
        display: flex;
        gap: 50px;
      }
      p {
        height: 25px;
        /* width: 250px; */
        padding: 5px;
        /* margin: 5px; */
        /* align-items: center; */
        /* text-align: left; */
      }
      p:hover {
        background-color: lightgray;
      }
      button {
        width: 78px;
        height: 42px;
        border: none;
        background-color: black;
        color: white;
        font-size: 15px;
      }
      button:hover {
        background-color: mediumturquoise;
        color: black;
      }
      .social > img {
        margin: 5px 10px 0px 10px;
        height: 40px;
        width: 40px;
      }
      .ion-icon {
        font-size: 24px;
        text-align: center;
        /* padding: 15px; */
      }
        
  
  @media only screen and (max-width: 320px) {
    /* CSS rules for iPhone SE */
    .cartContainer {
      max-width: 750px;
      margin: 0 0 0 0;
      padding: 0;
      box-sizing: border-box;
    }
    table {
      /* width: 100%; */
      /* margin: 0 80px 0 80px;   */
      /* border: 2px solid rgb(77, 72, 72); */
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
    }
  }
  
  @media screen and (min-width: 768px) {
    .cartContainer {
      max-width: 750px;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    table {
      width: 100%;
      /* margin: 0 80px 0 80px;   */
      /* border: 2px solid rgb(77, 72, 72); */
      border-collapse: collapse;
      margin: 0;
      padding: 0;
    }
  }
  
  @media screen and (min-width: 992px) {
    .cartContainer {
      max-width: 970px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .cartContainer {
      max-width: 1170px;
    }
  }
  